@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #edf8f6;
    font-family: "Red Hat Display", sans-serif;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
  
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  .scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  
  .scroll-container img {
    padding: 10px;
  }
  
  .shadow-filter {
    filter: drop-shadow(8px 8px 10px #98ddca);
  }

  #scroll{
    border-radius: 20%;
  }
  
  .container-fluid {
    padding: 0;
    text-align: center;
  }
  
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}


q {
  font-style: italic;
}


.reviewer {
  color: cornflowerblue;
}

#opener {
  margin-top: 10px;
  text-align: center;
  color:#96c6aa;
  font-weight: bolder;
}

#header-1{
  color:#b8d8be;
}


#paragraph-1{
  color:#99b39e;
  font-weight: 400;
}

#header-2{
  text-align: center;
  color:#b8d8be;
  font-weight: bold;
}




 
 